body{ 
    margin: 0px;
    padding: 0px;
    background-color: #ffff;
    font-family: 'Nunito';  

}




/*header*/
header{
    background-color: #FB3F5C;
    justify-content: flex-end;
    display: flex; 
    height: 65px;
}
#Logotype{
    font-size: 36px;
    color: #F8EEEF;
    position: absolute;
    width: 162px;
    height: 50px;
    left: 124px;
    top: 8px;
    font-family:'Nova Mono', regular ;
  }
#topnav {
    flex: 2 1 100%; 
    display: flex;
    gap: 6rem;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    color:#F8EEEF ;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 40px;   
}



/*Premiere section*/
#femme{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(source/PNG/Rectangle_396.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.container h1{
    font-weight: 400;
    left: 150px;
    top: 280px;

}
.container h2{
    font-weight : 700;
    font-size: 50px;
    line-height: 68px;
    text-transform: capitalize;
    color: #191018;
    margin-left: -1px;
    margin-top: -29px;
    margin-right: 191px;
    margin-bottom: -18px;
}
.container h3{
    font-family: 'Nunito Sans';
    width: 342px;
}
#visage{
    object-position: right top;
    margin-top: 100px;
    margin-right: 40px;
}

/*Works*/
.titre h4{
    margin-top: 135px;
    margin-bottom: -115px;
    
}
.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    margin: 50px 100px 75px 100px;
    margin-top: 190px;
    margin-left: 230px;
}
.preview{
    align-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;

}


/*Footer*/
#footer{
    background: #FB3F5C;
    margin-top: 150px;
    padding: 23px 20px;
}
#info{
    justify-content: center;
    color: #F8EEEF;
    display: flex;
    margin: 50px;
    gap: 2rem;
}
#resseau{
    justify-content: center;
    display: flex;
    gap: 1em;
    margin-bottom: 40px;
}
