body{ 
    margin: 0px;
    padding: 0px;
    background-color: #ffff;
    font-family: 'Nunito';  

}

/*header*/
header{
    background-color: #FB3F5C;
    justify-content: flex-end;
    display: flex; 
    height: 65px;
}
#Logotype{
    font-size: 36px;
    color: #F8EEEF;
    position: absolute;
    width: 162px;
    height: 50px;
    left: 124px;
    top: 8px;
    font-family:'Nova Mono', regular ;
  }
#topnav {
    flex: 2 1 100%; 
    display: flex;
    gap: 6rem;
    justify-content: flex-end;
    align-items: center;
    font-size: 15px;
    color:#F8EEEF ;
    font-family: 'Nunito Sans', sans-serif;
    margin-right: 40px;   
}

/*Premiere section*/

#femme{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(source/PNG/Rectangle_396.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: right bottom;
    
}
.container h1{
    font-weight: 400;
    position: absolute;
    width: 74px;
    height: 40px;
    left: 124px;
    top: 150px;

}
.container h2{
    font-weight : 700;
    font-size: 50px;
    line-height: 68px;
    text-transform: capitalize;
    color: #191018;
}
.container h3{
    font-family: 'Nunito Sans';
}
#Ph img{
    object-position: right top;
}

/*About me*/
p{
    margin: 0px;
}
